@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>El objetivo de esta aplicación es ayudar a los estudiantes de la FIA a administrar sus tiempos y así ayudarlos a estudiar mejor.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
